@import './variable.scss';

body{
  background: $line-color;
  color: $normal-color;
  display: flex;
  .main{
    color: $main-color;
    font-size: 28px;
    font-weight: bold;
    transform: none;
  }
}